<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../layout/head') %>
  <link href="https://fonts.googleapis.com/css2?family=BioRhyme&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=BioRhyme&family=MuseoModerno:wght@300&display=swap" rel="stylesheet">
</head>
<body>
  <header>
    <%- include('../layout/header') %>
  </header>
  <main>
    <div class="schools">
      <h2> Education Opportunities </h2>
      <div class="name-pic">
        <h3> <%= data[0].schoolName %> </h3>
        <a href="<%= data[0].schoolUrl %>"> Find out more info </a>
      </div>
      <div class="description">
        <h4> <%= data[0].address %></h4>
        <h4> <%= data[0].city %>, <%= data[0].stateName %> </h4>
        <h6> Phone: <%= data[0].phone %> </h6>
        <p> Program Name: <%= data[0].programName %></p>
        <p> Program Length: <%= data[0].programLength[0].Value %> </p>
        <a href="/"> Expand </a>
        <p>~~</p>
      </div>
    </div>

    <div class="meetup">
      <h2> Meet Ups </h2>
      <div class="name-pic">
        <h3> NAME MEET-UP </h3>
        <!-- <img src="/" alt="meetupPic"> -->
      </div>
      <div class="description">
        <h4> TYPE OF MEETING </h4>
        <h6> LOCATION </h6>
        <p> DESCRIPTION GOES HERE </p>
        <p> DATE </p>
        <a href="/"> Expand </a>
        <p> ~~</p>
      </div>
    </div>

    <div class="jobs">
      <h2> Work Opportunities </h2>
      <div class="name-pic">
        <h3> JOB TITLE </h3>
        <!-- <img src="/" alt="companyPic"> -->
      </div>
      <div class="description">
        <h4> TYPE OF JOB </h4>
        <h6> SENIORITY LEVEL </h6>
        <p> JOB DESCRIPTION GOES HERE </p>
        <a href="/"> Expand </a>
        <p>~~</p>
      </div>
    </div>
      
  </main>
  <footer>
    <%- include('../layout/footer') %>
  </footer>
</body>
</html>