<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../layout/head') %>
  <link href="https://fonts.googleapis.com/css2?family=BioRhyme&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=BioRhyme&family=MuseoModerno:wght@300&display=swap" rel="stylesheet">
</head>
<body>
  <header>
    <%- include('../layout/header') %>
  </header>
  <main>
    <div class="items">
      <h2> Education Opportunities </h2>
      <% school.forEach( val => {  %>

      <div class="name-pic">
        <h3> <%= val.schoolName %> </h3>
        <a href="<%= val.schoolUrl %>"> Find out more info </a>
      </div>
      <div class="description">
        <h4> <%= val.address %></h4>
        <h4> <%= val.city %>, <%= val.stateName %> </h4>
        <h6> Phone: <%= val.phone %> </h6>
        <p> Program Name: <%= val.programName %></p>
        <p> Program Length: <%= val.programLength.Value %> </p>
        <a href="/"> Expand </a>
        <p>~~</p>
      </div>

    <% }) %>
    </div>

    <div class="meetup">
      <h2> Job Centers </h2>
      <% meetUp.forEach( val => { %>

        <div class="name-pic">
          <h3> <%= val.meetUpName %> </h3>
        </div>
        <div class="description">
          <h4> <%= val.address %> </h4>
          <h6> <%= val.hours %> </h6>
          <p> <%= val.phone %> </p>
          <a href="<%= val.website %>"></a>
          <a href="/"> Expand </a>
          <p> ~~</p>
        </div>

      <% }) %>
    </div>

    <div class="jobs">
      <h2> Work Opportunities </h2>
      <% job.forEach( val => { %>

        <div class="name-pic">
          <h3> <%= val.jobTitle %> </h3>
        </div>
        <div class="description">
          <h4> Company: <%= val.company %> </h4>
          <h6> <%= val.location %>  </h6>
          <p> val Posted: <%= val.date %>  </p>
          <a href="<%= val.url %>"> Company Site </a>
          <a href="/"> Expand </a>
          <p>~~</p>
        </div>

      <% }) %>
    </div>
      
  </main>
  <footer>
    <%- include('../layout/footer') %>
  </footer>
</body>
</html>